# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Backend
backend/.env
backend/venv/

# React / Node
frontend/node_modules/
frontend/build/
frontend/.env.local

# Virtual environment
venv/
.env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# .gitignore
.env
